.c__body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, #090909 40%, #2b2b2b, #525252);
    color: white;
}

.character_h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;

}

.characters_container {
    width: 80%;
    /* Ancho del contenedor, puedes ajustar según tus necesidades */
    margin: 0 auto;
    margin-right: 70px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    // overflow: hidden;
    // grid-template-rows: repeat(4, 1fr); 
    // gap: 1px;

    .characters_card {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    img {
        display: block;
        width: 300px;
        height: 450px;
        object-fit: cover;

    }

    .character-overlay {
        text-decoration: none;
        position: absolute;
        background-color: #2b2b2b72;
        overflow: hidden;
        bottom: 20px;
        width: 300px;
        height: 0;
        transition: .3s ease;
        color: white;

    }

    .textOverlay {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

}

.characters_card:hover .character-overlay {
    height: 20%;

}

img:hover {
    filter: grayscale(50%);
}


// Estilo del riel de la barra de desplazamiento
.simplebar-track {
    background-color: rgba(77, 77, 77, 0.503); // Color de fondo del riel 
    border-radius: 8px; // Bordes redondeados del riel 
}

// Estilo de la barra de desplazamiento
.simplebar-scrollbar {
    background-color: #909090; // Color de fondo de la barra de desplazamiento 
    border-radius: 8px; // Bordes redondeados de la barra de desplazamiento 
}

// Cambia el color al hacer hover sobre la barra de desplazamiento 
.simplebar-scrollbar:hover {
    background-color: #cdcdcd;
}




