
@font-face {
    font-family: 'Lato';
    src: url('../../../public/assets/Lato_font/Lato-Regular.ttf');
}

.houses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .house {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .house-image {
            width: 267px;
            height: 320px;
            margin: 66px 150px 30px 151px;
        }

        .house-info {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .house-name {
            font-size: 28px;
            margin-top: 20px;
        }
    }

    .house-details {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        max-width: 80%;
        list-style-type: circle;

        .house__settlement {
            text-align: center;
            width: 250px;
            margin-right: 50px;
            margin-top: 50px;
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 1.5rem;
                padding-bottom: 10px;
                text-align: center;
            }

            p {
                text-align: center;
                padding-top: 10px;
                font-size: 1rem;
                line-height: 25px;
                font-family: Lato;
            }
        }

        .house__region {
            text-align: center;
            width: 250px;
            margin-right: 50px;
            margin-top: 50px;
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 1.5rem;
                padding-bottom: 10px;
                text-align: center;
            }

            p {
                text-align: center;
                padding-top: 10px;
                font-size: 1rem;
                line-height: 25px;
                font-family: Lato;
            }
        }

        .house__alliances {
            text-align: start;
            width: 300px;
            margin-top: 50px;
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 1.5rem;
                text-align: center;
            }

            li {
                text-align: center;
                padding-top: 10px;
                font-size: 1rem;
                line-height: 25px;
                list-style-type: none;
                font-family: Lato;
            }
        }

        .house__religions {
            text-align: start;
            width: 300px;
            margin-top: 50px;
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 1.5rem;
                text-align: center;
            }

            li {
                text-align: center;
                padding-top: 10px;
                font-size: 1rem;
                line-height: 25px;
                list-style-type: none;
                font-family: Lato;
            }
        }

        .house__foundation {
            text-align: center;
            width: 250px;
            margin-right: 50px;
            margin-top: 50px;
            display: flex;
            flex-direction: column;

            h3 {
                font-size: 1.5rem;
                padding-bottom: 10px;
            }

            p {
                text-align: center;
                padding-top: 10px;
                font-size: 1rem;
                line-height: 25px;
                font-family: Lato;
            }
        }
    }
}