#p__character {
    margin-left: 50px;
}

.character_h1 {
    text-align: center;
    margin-right: 180px;
    padding-bottom: 20px;
    font-size: 30px;

}

.characters_container {
    width: 80%;
    margin-right: 70px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    .characters_card {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    img {
        display: block;
        width: 250px;
        height: 360px;
        object-fit: cover;
    }

    .character-overlay {
        text-decoration: none;
        position: absolute;
        background-color: #2b2b2b72;
        overflow: hidden;
        bottom: 20px;
        width: 250px;
        height: 0;
        transition: .3s ease;
        color: white;
    }

    .textOverlay {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.characters_card:hover .character-overlay {
    height: 20%;
}

img:hover {
    filter: grayscale(50%);
}

// SIMPLEBAR
.simplebar-track {
    background-color: rgba(77, 77, 77, 0.503);
    border-radius: 8px;
}

.simplebar-scrollbar {
    background-color: #909090;
    border-radius: 8px;
}

.simplebar-scrollbar:hover {
    background-color: #cdcdcd;
}

//VOLVER BUTTON
.h__volver {
    margin-right: 1200px;
    width: 10%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    text-decoration: none;
}